:root {
  --color1: #ff0075;
  --color2: #172774;
  --color3: #77d970;
  --color4: #eeeeee;
}
body {
  background-color: var(--color4);
}
.grid {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: 568px;
  width: 900px;
}
.grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  margin: auto;
  background-color: var(--color3);
  font-size: 70px;
  color: var(--color4);
}
.grid div.blank {
  color: var(--color3);
}
.grid div.choosen1 {
  color: gold;
}
.grid div.choosen2 {
  color: var(--color1);
}
.result-container {
  text-align: center;
  font-size: 20px;
  color: var(--color2);
  display: flex;
  justify-content: space-around;
}
h3 {
  display: inline-block;
}
.header h1 {
  margin: 0px 0px;
  text-align: center;
  font-size: 50px;
  color: var(--color2);
}
@media (max-width: 992px) {
  .grid {
    width: 300px;
  }
  .grid div {
    width: 65px;
    height: 65px;
    margin: 5px;
    font-size: 60px;
  }
  .result-container {
    font-size: 16px;
  }
  .header h2 {
    font-size: 16px;
  }
}
