:root {
  --color1: #ff0075;
  --color2: #172774;
  --color3: #77d970;
  --color4: #eeeeee;
}
body {
  background-color: var(--color4);
}
.game-containt.end {
  opacity: 0.3;
  pointer-events: none;
}
h1 {
  color: var(--color2);
  text-align: center;
  font-size: 50px;
}
h3 {
  color: var(--color1);
  text-align: center;
  font-size: 30px;
}
.grid {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--color2);
  height: 600px;
  width: 700px;
}
.grid div {
  height: 100px;
  width: 100px;
}
.player-one,
.player-two {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.player-one {
  background-color: var(--color1);
}
.player-two {
  background-color: var(--color2);
}
#result {
  border: 1px solid var(--color2);
  display: none;
  box-shadow: -19px 20px 20px 0 var(--color2);
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#result.end {
  display: flex;
  flex-direction: column;
}
#replay {
  cursor: pointer;
  padding: 20px;
  font-size: 30px;
  color: var(--color2);
  border: var(--color2) solid 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#replay:hover {
  color: var(--color4);
  background-color: var(--color2);
}
@media (max-width: 992px) {
  .grid {
    height: 225px;
    width: 262.5px;
  }
  .grid div {
    height: 37.5px;
    width: 37.5px;
  }
  #result {
    width: 300px;
    height: 300px;
  }
}
