:root {
  --color1: #ff0075;
  --color2: #172774;
  --color3: #77d970;
  --color4: #eeeeee;
}
body {
  box-sizing: border-box;
  color: var(--color4);
}
.game-area.end {
  opacity: 0.3;
  pointer-events: none;
}
.result-box {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 300px;
  border: solid 1px var(--color2);
  box-shadow: -19px 20px 20px 0 var(--color2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.result-box h1 {
  color: var(--color1);
  font-size: 50px;
}
.result-box.end {
  display: flex;
}
#replay {
  cursor: pointer;
  padding: 20px;
  font-size: 30px;
  color: var(--color2);
  border: var(--color2) solid 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#replay:hover {
  color: var(--color4);
  background-color: var(--color2);
}
.game-area h1 {
  margin: 30px;
  color: var(--color2);
  text-align: center;
  font-size: 50px;
}
.game-area .grid {
  border: solid 2px var(--color2);
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 0px auto 30px;
}
.game-area .grid div {
  margin: 1px;
  width: 38px;
  height: 38px;
}
.game-area .grid div.car {
  background-color: var(--color1);
}
.game-area .grid div.man {
  background-color: var(--color2);
}
.game-area h3 {
  margin: 0;
  color: var(--color2);
  text-align: center;
  font-size: 3rem;
}
.control {
  display: none;
  overflow: hidden;
  background-color: var(--color2);
  position: relative;
  width: 303px;
  height: 303px;
  margin: 10px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.control div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: solid 1px var(--color2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.control div:hover {
  background-color: var(--color4);
}
.control div:hover i {
  color: var(--color2);
}
.control div i {
  color: var(--color4);
  font-size: 40px;
}
.control .up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.control .left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.control .right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.control .down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 991px) {
  .control {
    display: flex;
    margin-bottom: 30px;
  }
  .game-area .grid {
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
  }
  .game-area .grid div {
    margin: 0.5px;
    width: 19px;
    height: 19px;
  }
  .game-area h1 {
    margin: 50px;
  }
}
