:root {
  --color1: #ff0075;
  --color2: #172774;
  --color3: #77d970;
  --color4: #eeeeee;
}
body {
  text-align: center;
  background-color: var(--color4);
}
h1 {
  font-size: 3.5rem;
  color: var(--color2);
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 var(--color1);
}
footer {
  color: var(--color2);
  font-family: sans-serif;
  font-size: 2.5rem;
}
.w {
  background-image: url(../Drum-kit/images/tom1.png);
  background-size: cover;
}
.a {
  background-image: url(../Drum-kit/images/snare.png);
  background-size: cover;
}
.s {
  background-image: url(../Drum-kit/images/tom2.png);
  background-size: cover;
}
.d {
  background-image: url(../Drum-kit/images/kick.png);
  background-size: cover;
}
.j {
  background-image: url(../Drum-kit/images/tom3.png);
  background-size: cover;
}
.k {
  background-image: url(../Drum-kit/images/crash.png);
  background-size: cover;
}
.l {
  background-image: url(../Drum-kit/images/tom4.png);
  background-size: cover;
}
.set {
  margin: 10% auto;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
.red {
  color: red;
}
.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 4.5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 175px;
  height: 175px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
@media (max-width: 992px) {
  h1 {
    font-size: 5rem;
  }
  .drum {
    width: 200px;
    height: 200px;
    margin: 150px 50px;
    font-size: 5rem;
  }
  footer {
    font-size: 3.5rem;
  }
}
