:root {
  --color1: #ff0075;
  --color2: #172774;
  --color3: #77d970;
  --color4: #eeeeee;
}
body {
  background-color: var(--color2);
}
.haeder {
  text-align: center;
  color: var(--color3);
  font-size: 50px;
}
.game-box {
  display: inline-block;
  width: 150px;
  height: 150px;
}
.game-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
  font-size: 16px;
  background-color: var(--color1);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.game-text:nth-child(2) {
  position: relative;
  left: 100px;
}
