:root {
  --color1: #ff0075;
  --color2: #172774;
  --color3: #77d970;
  --color4: #eeeeee;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--color2);
}
.haeder {
  text-align: center;
  color: var(--color3);
}
.haeder h1 {
  font-size: 70px;
}
.content {
  display: flex;
  margin-top: 50px;
  align-items: center;
}
.game-box {
  width: calc(100% / 4);
  padding-bottom: calc(100% / 4 / 2);
  padding-top: calc(100% / 4 / 2);
  position: relative;
  margin: 20px 0;
}
.game-text {
  padding: 5px;
  width: 90%;
  height: 90%;
  background: var(--color1);
  border-radius: 50%;
  color: var(--color4);
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.game-text h3 {
  text-align: center;
  width: 100%;
}
.game-text h3 a {
  color: var(--color4);
  text-decoration: none;
}
.game-text h3 a:hover {
  color: var(--color2);
  text-decoration: underline;
}
.game-text i {
  color: var(--color4);
  font-size: 40px;
  margin-right: 2px;
}
.img-container {
  background-color: var(--color4);
  display: flex;
  align-items: center;
}
.img-container img {
  width: 100%;
  height: 70vh;
  object-fit: contain;
}
@media (max-width: 992px) {
  .content {
    margin-top: 6px;
  }
  .game-box {
    margin: 10px 0;
  }
  .img-container {
    order: -1;
  }
  .img-container img {
    width: 100%;
    height: 40vh;
    object-fit: contain;
  }
  .game-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .game-text h3 {
    display: none;
  }
  .game-text h1 {
    margin-bottom: 0px !important;
    font-size: 50px;
  }
}
