:root {
  --color1: #ff0075;
  --color2: #172774;
  --color3: #77d970;
  --color4: #eeeeee;
}
body {
  color: var(--color4);
}
.score-box h2 {
  color: var(--color2);
  font-size: 40px;
}
.game-content {
  opacity: 1;
}
.game-content.end {
  opacity: 0.3;
  pointer-events: none;
}
.game-content h1 {
  margin: 50px;
  text-align: center;
  font-size: 50px;
  color: var(--color2);
}
.grid {
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px var(--color1);
}
.grid .square {
  width: 50px;
  height: 50px;
}
.square.snake {
  background-color: var(--color1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.square.food {
  background-color: var(--color3);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.score-box {
  border: solid 1px var(--color2);
  box-shadow: -20px 19px 20px 0 var(--color2);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.score-box.end {
  display: flex;
}
.control {
  display: none;
  overflow: hidden;
  background-color: var(--color2);
  position: relative;
  width: 303px;
  height: 303px;
  margin: 10px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.control div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: solid 1px var(--color2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.control div:hover {
  background-color: var(--color4);
}
.control div:hover i {
  color: var(--color2);
}
.control div i {
  color: var(--color4);
  font-size: 40px;
}
.control .up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.control .left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.control .right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.control .down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#replay {
  cursor: pointer;
  padding: 20px;
  font-size: 30px;
  color: var(--color2);
  border: var(--color2) solid 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#replay:hover {
  color: var(--color4);
  background-color: var(--color2);
}
@media (max-width: 992px) {
  .grid {
    width: 350px;
    height: 350px;
  }
  .grid .square {
    width: 35px;
    height: 35px;
  }
  .score-box {
    width: 300px;
    height: 300px;
  }
  .control {
    display: block;
  }
  .game-content h1 {
    margin: 10px;
  }
}
