:root {
  --color1: #ff0075;
  --color2: #172774;
  --color3: #77d970;
  --color4: #eeeeee;
}
body {
  box-sizing: border-box;
  color: var(--color4);
}
.game-area.end {
  opacity: 0.3;
  pointer-events: none;
}
.result-box {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 300px;
  border: solid 1px var(--color2);
  box-shadow: -19px 20px 20px 0 var(--color2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.result-box h1 {
  color: var(--color1);
  font-size: 50px;
}
.result-box.end {
  display: flex;
}
#replay {
  cursor: pointer;
  padding: 20px;
  font-size: 30px;
  color: var(--color2);
  border: var(--color2) solid 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#replay:hover {
  color: var(--color4);
  background-color: var(--color2);
}
.game-area h1 {
  margin: 30px;
  color: var(--color2);
  text-align: center;
  font-size: 50px;
}
.game-area .grid {
  border: solid 2px var(--color2);
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 0px auto 30px;
}
.game-area .grid div {
  margin: 1px;
  width: 38px;
  height: 38px;
}
.game-area h3 {
  margin: 0;
  color: var(--color2);
  text-align: center;
  font-size: 3rem;
}
.control {
  display: none;
  justify-content: space-around;
  margin: auto;
  background-color: var(--color1);
  width: 80%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.control div {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: var(--color4);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.control div:hover {
  background-color: var(--color2);
}
.control div:hover i {
  color: var(--color4);
}
.control div i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 3rem;
  color: var(--color2);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .control {
    display: flex;
    margin-bottom: 50px;
  }
  .game-area .grid {
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
  }
  .game-area .grid div {
    margin: 0.5px;
    width: 19px;
    height: 19px;
  }
  .game-area h1 {
    margin: 50px;
  }
}
.shooter {
  background-image: url(../img/shooter.png);
  background-size: cover;
}
.invader {
  background-image: url(../img/invader.png);
  background-size: cover;
}
.laser {
  background-image: url(../img/shoot.jpg);
  background-size: cover;
}
.laser.empty {
  background-image: none;
}
.boom {
  background-image: url(../img/boom.jpg);
  background-size: cover;
}
